.background-container {
    background-image: url('https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg');
    background-color: floralwhite;
    background-size: cover;
    background-position: center;
  }