.bkg-img{
    /* background-image: url("https://www.hdwallpapers.in/download/night_city_buildings_lights_4k_hd-HD.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column; */
}